[Unit]
Description=Gunicorn service for CS348 Book Catalog
After=network.target

[Service]
User=$USER
Group=www-data
WorkingDirectory=/home/$USER/book_catalog_stage2
Environment="PATH=/home/$USER/book_catalog_stage2/venv/bin"
ExecStart=/home/$USER/book_catalog_stage2/venv/bin/gunicorn -w 1 -b 127.0.0.1:8000 app:app
Restart=always

[Install]
WantedBy=multi-user.target
